<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.data>
    <DbProviderFactories>
      <add name="MySqlConnector"
         invariant="MySqlConnector"
         description="Async MySQL ADO.NET Connector"
         type="MySqlConnector.MySqlConnectorFactory, MySqlConnector, Culture=neutral, PublicKeyToken=d33d3e53aa5f8c92" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="ConnectionStringName" value="MySQLConnectionString"/>
    <add key="ProviderName" value="MySqlConnector"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLServerConnectionString"
         connectionString="Data Source=E490WIN10;Initial Catalog=QLHS;User ID=sa;Password=123"
         providerName="System.Data.SqlClient"/>
    <add name="MySQLConnectionString"
         connectionString="Server=localhost;Database=qlhs;Uid=root;Pwd=123;"
         providerName="MySqlConnector"/>
  </connectionStrings>
</configuration>