<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.data>
    <DbProviderFactories>
      <add name="MySqlConnector"
         invariant="MySqlConnector"
         description="Async MySQL ADO.NET Connector"
         type="MySqlConnector.MySqlConnectorFactory, MySqlConnector, Culture=neutral, PublicKeyToken=d33d3e53aa5f8c92" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="ConnectionStringName" value="SQLServerConnectionString"/>
    <add key="ProviderName" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLServerConnectionString" connectionString="Data Source=DESKTOP-2UMFTUC;Initial Catalog=QLHS;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="MySQLConnectionString" connectionString="Server=localhost;Database=qlhs;Uid=root;Pwd=123;"
      providerName="MySqlConnector" />
    <add name="StudentManagement.Properties.Settings.QLHSConnectionString"
      connectionString="Data Source=DESKTOP-2UMFTUC;Initial Catalog=QLHS;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>